In [1]:
import pandas as pd
import onsetsync

Here, we will demonstrate the use of essential data loading and annotation functions using examples from the IEMP dataset. These functions are designed to streamline loading data in a format that makes it convenient to conduct synchrony analysis.  

Functions Overview
    
    get_df_csv()

Loads single or multiple CSV or TXT files into a DataFrame.  

    add_beatsd()

Adds beat-subdivisions annotation columns to the DataFrame, such as 1.1, 1.2, ... 4.3, 4.4 from 1, 2, ... 15, 16, etc. 
    
    add_annotation()

Adds cycle label and corresponding cycle start time annotation columns to the DataFrame.   

    add_isobeats()

Adds isochronous times or mean onset times to the DataFrame.

### 1. Load Data

#### File Paths

In [2]:
# Cuban Son Salsa Example
onsets_path_css = 'example_data/CSS_Song2_Onsets_Selected.csv'
metre_path_css = 'example_data/CSS_Song2_Metre.csv'

# Candombe Example
onsets_path_uc = 'example_data/UC_311_Onsets_Selected.csv'
metre_path_uc = 'example_data/UC_311_Metre.csv'

# Malian Djembe Example
onsets_path_mj = 'example_data/MJ_Maraka_1_Onsets_Selected.csv'
metre_path_mj = 'example_data/MJ_Maraka_1_Metre.csv'

#### List available column names in the csv

In [7]:
'''
CSS_Song2 = pd.read_csv(onsets_path_css)
print('CSS Columns:', CSS_Song2.columns, '\n')

UC_311 = pd.read_csv(onsets_path_uc)
print('UC Columns:', UC_311.columns, '\n')

MJ_1 = pd.read_csv(onsets_path_mj)
print('MJ Columns:', MJ_1.columns)
'''

CSS Columns: Index(['Piece', 'Label SD', 'SD', 'Clave_?', 'Section', 'Isochronous.SD.Time',
       'Clave', 'Bass ', 'Guitar', 'Tres', 'Bongo', 'Bell', 'Cajon', 'Conga',
       'Trumpet', 'Cl_Dens', 'Bs_Dens', 'Gt_Dens', 'Tr_Dens', 'Bn_Dens',
       'Bl_Dens', 'Cj_Dens', 'Cn_Dens', 'Tm_Dens'],
      dtype='object')

UC Columns: Index(['Take', 'N', 'Label SD', 'SD', 'C', 'P', 'R1', 'R2', 'R1 part',
       'R2 part', 'C Dens', 'P Dens', 'R1 Dens', 'R2 Dens', 'C Peak', 'P Peak',
       'R1 Peak', 'R2 Peak'],
      dtype='object')

MJ Columns: Index(['Take', 'Piece', 'N', 'Label SD', 'SD', 'J1', 'J2', 'D1', 'D2',
       'J1 Dens', 'J2 Dens', 'D1 Dens', 'D2 Dens', 'Jembe 1', 'Jembe 2',
       'Dundun 1', 'Dundun 2'],
      dtype='object')

#### Select Columns

In [3]:
columns_css = ['Piece','Label SD','Clave','Bass ','Guitar','Tres', 'SD', 'Isochronous.SD.Time']
columns_uc = ['Take','Label SD','C','P','R1','R2', 'SD']
columns_mj = ['Take','Label SD','J1','J2','D1','SD']

####  Usage  

    get_df_csv(file_path, delimiter=',', sel_col=None, concat_axis=0, ignore_index=False):

In [4]:
# onsets_path_css, onsets_path_uc, onsets_path_mj
file_path = onsets_path_uc     
# columns_css, columns_uc, columns_mj
columns = columns_uc            

df = onsetsync.get_df_csv(file_path = file_path, sel_col=columns)
print(df.head())

   Take Label SD   C   P  R1  R2  SD
0   311    01:01 NaN NaN NaN NaN   1
1   311    01:02 NaN NaN NaN NaN   2
2   311    01:03 NaN NaN NaN NaN   3
3   311    01:04 NaN NaN NaN NaN   4
4   311    01:05 NaN NaN NaN NaN   5

### 2. Add Beat.SD Annotation

#### Usage
    add_beatsd(df=None, num_div=4, sd_column='SD')

In [5]:
df = onsetsync.add_beatsd(df, num_div=4, sd_column='SD')
print(df.head(20))

    Take Label SD   C   P        R1  R2  SD Beat.SD
0    311    01:01 NaN NaN       NaN NaN   1     1.1
1    311    01:02 NaN NaN       NaN NaN   2     1.2
2    311    01:03 NaN NaN       NaN NaN   3     1.3
3    311    01:04 NaN NaN       NaN NaN   4     1.4
4    311    01:05 NaN NaN       NaN NaN   5     2.1
5    311    01:06 NaN NaN       NaN NaN   6     2.2
6    311    01:07 NaN NaN       NaN NaN   7     2.3
7    311    01:08 NaN NaN       NaN NaN   8     2.4
8    311    01:09 NaN NaN       NaN NaN   9     3.1
9    311    01:10 NaN NaN       NaN NaN  10     3.2
10   311    01:11 NaN NaN       NaN NaN  11     3.3
11   311    01:12 NaN NaN       NaN NaN  12     3.4
12   311    01:13 NaN NaN       NaN NaN  13     4.1
13   311    01:14 NaN NaN       NaN NaN  14     4.2
14   311    01:15 NaN NaN       NaN NaN  15     4.3
15   311    01:16 NaN NaN       NaN NaN  16     4.4
16   311    02:01 NaN NaN       NaN NaN   1     1.1
17   311    02:02 NaN NaN       NaN NaN   2     1.2
18   311    02:03 NaN NaN       NaN NaN   3     1.3
19   311    02:04 NaN NaN  2.732433 NaN   4     1.4

### 3. Add Cycle Annotations

In [6]:
# Load the metre annotation
metre_path = metre_path_uc     # metre_path_css, metre_path_uc, metre_path_mj  
metre_df = onsetsync.get_df_csv(file_path = metre_path)
metre_df.head()

   Cycle      Time
0    1.1  0.188785
1    1.2  0.742744
2    1.3  1.284077
3    1.4  1.814410
4    2.1  2.361910

#### Usage
    add_annotation(df=None, annotation=None, time=None, reference=None):

In [8]:
df = onsetsync.add_annotation(df=df, annotation=metre_df['Cycle'], time=metre_df['Time'], reference='Label SD')
df.head(30)

    Take Label SD   C   P        R1  R2  SD Beat.SD  Cycle  CycleTime
0    311    01:01 NaN NaN       NaN NaN   1     1.1      1   0.188785
1    311    01:02 NaN NaN       NaN NaN   2     1.2      1        NaN
2    311    01:03 NaN NaN       NaN NaN   3     1.3      1        NaN
3    311    01:04 NaN NaN       NaN NaN   4     1.4      1        NaN
4    311    01:05 NaN NaN       NaN NaN   5     2.1      1        NaN
5    311    01:06 NaN NaN       NaN NaN   6     2.2      1        NaN
6    311    01:07 NaN NaN       NaN NaN   7     2.3      1        NaN
7    311    01:08 NaN NaN       NaN NaN   8     2.4      1        NaN
8    311    01:09 NaN NaN       NaN NaN   9     3.1      1        NaN
9    311    01:10 NaN NaN       NaN NaN  10     3.2      1        NaN
10   311    01:11 NaN NaN       NaN NaN  11     3.3      1        NaN
11   311    01:12 NaN NaN       NaN NaN  12     3.4      1        NaN
12   311    01:13 NaN NaN       NaN NaN  13     4.1      1        NaN
13   311    01:14 NaN NaN       NaN NaN  14     4.2      1        NaN
14   311    01:15 NaN NaN       NaN NaN  15     4.3      1        NaN
15   311    01:16 NaN NaN       NaN NaN  16     4.4      1        NaN
16   311    02:01 NaN NaN       NaN NaN   1     1.1      2   2.361910
17   311    02:02 NaN NaN       NaN NaN   2     1.2      2        NaN
18   311    02:03 NaN NaN       NaN NaN   3     1.3      2        NaN
19   311    02:04 NaN NaN  2.732433 NaN   4     1.4      2        NaN
20   311    02:05 NaN NaN       NaN NaN   5     2.1      2        NaN
21   311    02:06 NaN NaN       NaN NaN   6     2.2      2        NaN
22   311    02:07 NaN NaN  3.133261 NaN   7     2.3      2        NaN
23   311    02:08 NaN NaN       NaN NaN   8     2.4      2        NaN
24   311    02:09 NaN NaN       NaN NaN   9     3.1      2        NaN
25   311    02:10 NaN NaN       NaN NaN  10     3.2      2        NaN
26   311    02:11 NaN NaN  3.661103 NaN  11     3.3      2        NaN
27   311    02:12 NaN NaN       NaN NaN  12     3.4      2        NaN
28   311    02:13 NaN NaN  3.944791 NaN  13     4.1      2        NaN
29   311    02:14 NaN NaN       NaN NaN  14     4.2      2        NaN

### 4. Add Isochronous Times